@font-face {
    font-family: 'Calculator';
    src: url('Calculator.woff2') format('woff2'),
        url('Calculator.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

